@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#navbar{
    background: #f9f9f9;
}

:root{
    --bs-dark-color: #1a1d20;
    --bs-dark-primary: #1c1c1c;
    --bs-main-color: #fff;
    --bs-primary-color: #c6c6c6;
    --bs-supporting-color: #c650c0;
}

h1, h2, h3, h4, h5{
    color: var(--bs-dark-color);
    font-family: 'Urbanist', sans-serif;
}

h1{
    font-size: 3.8rem;
}

h2{
    line-height: 3rem;
    font-weight: 600;
    font-size: 3.4rem;
}

p{
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    color: var(--bs-dark-color);
    letter-spacing: 0.07rem;
    line-height: 1.55rem;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.hero-video--section{
    max-width: 100%;
    height: auto;
    width: 60rem;
    border-radius: 2rem;
}

/* hero section container */
.hero-section .container{
    display: grid;
    place-content: center;
    height: inherit;
}

.bg-main{
    height: 80vh;
    position: relative;
}

.bg-color{
    background-color: var(--bs-dark-primary);
}

button, a{
    font-size: 1.15rem;
    letter-spacing: 0.03rem;
    word-spacing: 0.1rem;
}

.custom-shape-divider-bottom-1694614879 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1694615063 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1694615063 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 169px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1694615063 .shape-fill {
    fill: #FFFFFF;
}


/*  Service Section */
.common-heading{
    font-size: 2.8rem;
    letter-spacing: 0.03rem;
    word-spacing: 0.1rem;
}

.common-title{
    margin-bottom: 4.2rem;
}

.service-section{
    padding: 6rem 0 3rem 0;
}

.icon-span{
    width: 2.5rem;
    height: 2.5rem;
    background-color: #1089ff;
    color: var(--bs-main-color);
}

.card-box:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24 px;
}

/* showcase section */
.more-info-section{
    background-attachment: fixed;
    overflow: hidden;
    padding: 6rem 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(22, 22, 22, 0.9), rgba(22, 22, 22, 0.9)), url("");
}

.more-info-section .img-section img{
    width: 70%;
}

/* common section */
.bussiness-section{
    padding-top: 3rem;
}